nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 200;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181, 181, 181);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 1rem;
  }

  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 17vh;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    padding: 1rem;
  }

  .nav-links.open {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 1rem;
  }
  a {
    font-size: 1.2rem;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
}
